form.ulist {
  /* context-menu */
}
form.ulist input.noframe {
  border: 0;
  background: #eef;
  font-size: 90%;
  width: auto;
}
form.ulist div.context-menu-box {
  border-bottom: none;
  font-size: 1em;
  line-height: 1.4em;
  overflow: hidden;
}
form.ulist div.context-menu {
  width: 100%;
  text-align: left;
  word-spacing: 0;
  background: #ece8f8;
}
form.ulist div.context-menu div.a,
form.ulist div.context-menu div.span {
  margin: 0 0.8em;
  padding-top: 0.6em;
  padding-bottom: 0;
  text-decoration: none;
  cursor: pointer;
}
form.ulist div.context-menu div.a.active,
form.ulist div.context-menu div.span.active,
form.ulist div.context-menu div.a.active:hover {
  cursor: pointer;
}
form.ulist div.context-menu div.a.disabled,
form.ulist div.context-menu div.span.disabled {
  color: #999;
  cursor: inherit;
  border-bottom: none;
}
form.ulist div.navigator {
  padding: 2px;
  background: #b8c0f0;
  margin-bottom: 2px;
  font-size: 11px;
}
form.ulist div.navigator a {
  border-bottom: none;
  margin-right: 2px;
  margin-left: 1px;
}
form.ulist div.navigator span.nav {
  color: #006;
  margin-right: 2px;
  margin-left: 2px;
}
form.ulist div.navigator img {
  border: none;
  margin-right: 3px;
  margin-left: 3px;
}
form.ulist div.navigator input {
  height: 16px;
  border: none;
}
form.ulist div.navigator input,
form.ulist div.navigator span,
form.ulist div.navigator a,
form.ulist div.navigator img {
  margin: 0;
  padding: 0;
  display: inline-flex;
}
form.ulist div.navigator span.field {
  padding-left: 2px;
  /*border-left: 1px solid black;*/
}
form.ulist div.navigator span.label {
  margin-right: 4px;
}
form.ulist div.navigator span#user-flags {
  display: inline-block;
}
form.ulist div.navigator span#user-flags.rightborder {
  padding-right: 3px;
  margin-right: 2px;
  /*border-right: 1px solid black;*/
}
form.ulist div.navigator input.list_search {
  width: 120px;
}
form.ulist span.navigator {
  float: right;
  display: inline-flex;
}
form.ulist span.navigator a {
  padding: 0 2px;
}
form.ulist span.navigator span.btn {
  display: inline-block;
  width: 12px;
  height: 16px;
  margin: 0 3px;
  vertical-align: middle;
}
form.ulist span.dis {
  color: #666;
  cursor: text;
  padding: 0 2px;
}
form.ulist i.btn.fa {
  width: auto;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
}
form.ulist i.btn.fa.disabled {
  color: #888;
}
form.ulist i.fa.export {
  font-size: 1.3em;
  color: #082;
  vertical-align: text-bottom;
}
form.ulist .stretch {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
form.ulist div.list-empty {
  padding: 2px 8px;
  min-height: 36px;
}
table.list {
  line-height: normal;
  vertical-align: top;
}
table.list .inline {
  display: inline-block;
}
table.list tr td,
table.list tr th {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  vertical-align: middle;
  text-align: left;
  padding: 2px;
}
table.list.novspacing tr td,
table.list.novspacing tr th {
  border-bottom: 0 solid #fff;
}
table.list tr td:first-child,
table.list tr th:first-child {
  border-left: none;
  padding-left: 4px;
}
table.list tr td:last-child {
  padding-right: 4px;
}
table.list thead th {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #bbd;
}
table.list thead tr.list-columns a:hover {
  text-decoration: none;
  border-bottom: none;
}
table.list thead tr.list-columns span.btn {
  display: inline-block;
  margin: 0 1px;
  padding: 0;
  vertical-align: initial;
}
table.list thead tr.list-columns span.btn.r_down,
table.list thead tr.list-columns span.btn.r_up {
  color: #124ba0;
}
table.list.owncolor tbody td {
  background-color: inherit;
}
table.list tr.owncolor td,
table.list tr.owncolor th {
  background-color: inherit;
}
table.list td.right {
  text-align: right;
  padding-right: 4px;
}
table.list tr.focus td,
table.list tr.focus th {
  background-color: #ffd;
}
table.list tr.selected td,
table.list tr.selected th {
  /* selected overrides focus */
  background-color: #000;
  color: #fff;
}
table.list tbody td {
  background-color: #dde;
}
table.list tbody th {
  background-color: #bbd;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}
table.list tbody td.action {
  background-color: white;
}
table.list tbody tr.focus:hover td,
table.list tbody tr.focus:hover th {
  background-color: #ffe;
}
table.list tbody tr:hover td,
table.list tbody tr:hover th {
  background-color: #eef;
}
table.list tbody tr.selected:hover td,
table.list tbody tr.selected:hover th {
  background-color: #444;
}
table.list tbody tr.selected:hover {
  background-color: #444;
}
table.list tbody tr:hover {
  background-color: #eef;
}
div.list-external {
  /*margin: auto;*/
}
div.list-external.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
}
/*# sourceMappingURL=UList.css.map */