form.ulist {
  input.noframe {
    border: 0;
    background: #eef;
    font-size: 90%;
    width: auto;
  }

  /* context-menu */
  div.context-menu-box {
    border-bottom:none;
    font-size: 1em;
    line-height: 1.4em;
    overflow: hidden;
  }
  div.context-menu {
    width: 100%;
    text-align: left;
    word-spacing: 0;
    background: #ece8f8;

    div.a, div.span {
      margin: 0 .8em;
      padding-top: .6em;
      padding-bottom: 0;
      text-decoration: none;
      cursor: pointer;
    }

    div.a.active, div.span.active, div.a.active:hover {
      cursor: pointer;
    }

    div.a.disabled, div.span.disabled {
      color: #999;
      cursor: inherit;
      border-bottom: none;
    }
  }
  div.navigator {
    padding: 2px;
    background: #b8c0f0;
    margin-bottom:2px;
    font-size:11px;
    a {
      border-bottom: none;
      margin-right: 2px;
      margin-left: 1px;
    }

    span.nav {
      color: #006;
      margin-right: 2px;
      margin-left: 2px;
    }

    img {
      border: none;
      margin-right: 3px;
      margin-left: 3px;
    }
    input {
      height:16px;
      border:none;
    }
    input, span, a, img {
      margin:0;
      padding:0;
      display: inline-flex;
    }
    span.field {
      padding-left:2px;
      /*border-left: 1px solid black;*/
    }
    span.label {
      margin-right:4px;
    }
    span#user-flags {
      display:inline-block;
    }
    span#user-flags.rightborder {
      padding-right: 3px;
      margin-right:2px;
      /*border-right: 1px solid black;*/
    }
    input.list_search {width: 120px;}
  }

  span.navigator {
    float: right;
    display: inline-flex;
    a {
      padding: 0 2px;
    }
    span.btn {
      display: inline-block;
      width: 12px;
      height: 16px;
      margin: 0 3px;
      vertical-align:middle;
    }

  }

  span.dis {
    color:#666;
    cursor:text;
    padding: 0 2px;
  }

  i.btn.fa {
    width:auto;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
  }
  i.btn.fa.disabled {
    color:#888;
  }
  i.fa.export {
    font-size: 1.3em;
    color:#082;
    vertical-align: text-bottom;
  }
  .stretch {
    white-space: nowrap; text-overflow : ellipsis; overflow : hidden;
  }

  div.list-empty {
    padding: 2px 8px;
    min-height: 36px;
  }
}

table.list {
  line-height: normal;
  vertical-align: top;

  .inline {
    display:inline-block;
  }

  tr td, tr th {
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    vertical-align:middle;
    text-align: left;
    padding: 2px;
  }

  &.novspacing tr td, &.novspacing tr th {
    border-bottom: 0 solid #fff;
  }

  tr td:first-child, tr th:first-child {
    border-left: none;
    padding-left: 4px;
  }

  tr td:last-child {
    padding-right: 4px;
  }

  thead {
    th {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background-color: #bbd;
    }
    tr.list-columns a:hover {
      text-decoration: none;
      border-bottom: none;
    }
    tr.list-columns span.btn {
      display: inline-block;
      margin: 0 1px;
      padding: 0;
      vertical-align: initial;
      &.r_down, &.r_up { color: #124ba0; }
    }

  }

  &.owncolor tbody td {
    background-color: inherit;
  }
  tr.owncolor td, tr.owncolor th {
    background-color: inherit;
  }

  td.right {
    text-align: right;
    padding-right: 4px;
  }

  tr.focus td, tr.focus th { background-color: #ffd; }
  tr.selected td, tr.selected th { /* selected overrides focus */
    background-color: #000;
    color: #fff;
  }

  tbody {
    td {
      background-color: #dde;
    }

    th {
      background-color: #bbd;
      font-weight: bold;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    td.action {
      background-color: white;
    }

    tr.focus:hover td, tr.focus:hover th {
      background-color: #ffe;
    }

    tr:hover td, tr:hover th {
      background-color: #eef;
    }

    tr.selected:hover td, tr.selected:hover th {
      background-color: #444;
    }

    tr.selected:hover {
      background-color: #444;
    }

    tr:hover {
      background-color: #eef;
    }
  }
}

div.list-external {
  /*margin: auto;*/
  &.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
  }
}
